<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CBSupportedPerls</key>
	<array>
		<string>5.8.9</string>
		<string>5.8.8</string>
		<string>5.8.6</string>
	</array>
</dict>
</plist>
