<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>CamelBones</string>
	<key>CFBundleGetInfoString</key>
	<string>CamelBones, Copyright 2005-2009 Sherm Pendley</string>
	<key>CFBundleIdentifier</key>
	<string>org.CamelBones.framework</string>
	<key>CFBundleName</key>
	<string>CamelBones</string>
	<key>CFBundlePackageType</key>
	<string>FMWK</string>
	<key>CFBundleShortVersionString</key>
	<string>CamelBones 1.1.2</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.1.2</string>
	<key>NSPrincipalClass</key>
	<string>CBPerl</string>
</dict>
</plist>
